body{
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.nav{
    height: 6rem;
    width: 100%;
    background: linear-gradient(to bottom , rgba(219, 171, 40, 0.808) , rgb(116, 113, 113));
    position: fixed;
   
    transition: 0.5s;
    display: flex;
    align-items: center;
}
.image img{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 200;
}



/*.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
}*/
@media(orientation:landscape){
    body{
        flex-direction: column;
    }
}