[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/novavi/Desktop/Rishab/socialmedia/src/middlewares/auth.jsx
Type=Link
URL=file:///home/novavi/Desktop/Rishab/socialmedia/src/middlewares/auth.jsx
Icon=text-plain
