/* App.css */
.search {
  width: 100%;
  position: relative;
padding: 1rem;
left: 30%; 
}
.nav{
  position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
     background-color: 
  #312e2e;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #312f2f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(170, 166, 166, 0.1);
  }
  
  .product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    background-color: #ebe5e5;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(59, 57, 57, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(32, 32, 32, 0.15);
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-title {
    margin: 0 0 10px 0;
    font-size: 1.4em;
    color: #141111;
  }
  
 

  @media (max-width: 768px) {
    .product-item {
      flex-direction: column;
      align-items: start;
    }
  
    .product-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  
    .product-details {
      width: 100%;
    }
  }
  